@keyframes animacaoBotao {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Aplicando a animação ao botão */
  #botao-animado {
    animation: animacaoBotao 1s ease-in-out infinite;
  }
  
  /* Estilizando o botão */
  #botao-animado {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d5db23;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Adicionando estilos quando o mouse passa sobre o botão */
  #botao-animado:hover {
    background-color: #2980b9;
  }

  body {
    background-color:rgb(53, 123, 214);
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  img {
    height: 100px;
    width: 150px;
    border-radius: 15%;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: black;
    height: 400px;
  }

  #a1 {
    background-color: white;
    width: 1358px;
    height: 100px;
    margin: 0%;
    padding: 0%;
  }

  h1 {
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    color: red;
  }